# use pip-compile with this file to generate requirements.txt
tqdm
joblib
argparse
psutil

coremltools

lockfile
numpy
pandas
seaborn
xlrd==1.2.0


torchsummary
xgboost
scipy
gluoncv
mxnet-cu112
scikit-learn
tensorflow==2.5.0
tensorflow-model-optimization
#gym[all]
fastai


rawpy
albumentations
scikit-image
matplotlib
Pillow
opencv-python
imgaug
SimpleCV
SimpleITK


nltk
spacy
transformers


google-cloud-core
google-cloud-secret-manager
google-cloud-storage
google-cloud-pubsub
google-cloud-bigquery


firebase-admin
awscli
boto
pandas_gbq

databases
sqlalchemy
fastapi
python-dotenv
httpx
backoff
Flask
gunicorn

autopep8



qiskit