# use pip-compile with this file to generate requirements.txt
tqdm
joblib
argparse
psutil
pycuda

coremltools

lockfile
numpy
pandas
seaborn
xlrd==1.2.0

xgboost
scipy
gluoncv
mxnet-cu112
scikit-learn
tensorflow==2.5.0
tensorflow-model-optimization
#gym[all]
fastai
fastbook

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cu111
torchvision==0.9.0+cu111
torchaudio==0.8.0
torchtext==0.9.0

torch-summary

rawpy
albumentations
scikit-image
matplotlib
Pillow
opencv-python
imgaug
SimpleCV
SimpleITK


nltk
spacy
transformers


google-cloud-core
google-cloud-secret-manager
google-cloud-storage
google-cloud-pubsub
google-cloud-bigquery


firebase-admin
awscli
boto
pandas_gbq

databases
sqlalchemy
fastapi
python-dotenv
httpx
backoff
Flask
gunicorn

autopep8



qiskit